@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root{
	font-size: 16px;
}

body{
	font-family: 'Jost', sans-serif;
	color: $gray;
}

.title{
	font-family: 'Cormorant', serif;
	font-size: 5rem;
	line-height: 5rem;
	font-weight: 700;
	span{
		font-style: italic;
	}
}

.btn{
	background-color: $orange;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.3rem 2.68rem;
	border-radius: 2rem;
	letter-spacing: 0.075rem;
	box-shadow: 0 10px 11.18px 1.82px rgba(207,92,13,0.2);
	color: $white;
	transition: background-color 0.3s ease;
	&:hover{
		background-color: $orangeHover;
	}
}

.ml{
	margin-left: 7.6rem;
}

.wrapper{
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section-main{
	background: 
		url(../img/avocado.png) no-repeat right -24px top  47px/ 191px 189px,
		url(../img/beans.png) no-repeat left -9px bottom 18%/ 118px 136px,
		url(../img/cucumber.png) no-repeat left 37.5% top/ 85px 43px,
		url(../img/pepper.png) no-repeat left 29px top  398px/ 86px 72px,
		url(../img/tomato.png) no-repeat right 111px bottom 14%/ 110px 119px,
		url(../img/bg-1.png) no-repeat center / cover;
	padding-bottom: 208px

}

.main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-text{
		flex: 0 0 40%;
		&__description{
			font-size: 1.12rem;
			line-height: 1.7rem;
			margin-top: 60px;
			margin-bottom: 77px;
		}
	}
	&-visual{
		border: 1px solid rgba($gray, $alpha);
		border-radius: 100%;
		padding: 53px;
		position: relative;
		&__image{
			border: 1px solid rgba($gray, $alpha);
			border-radius: 100%;
			padding: 21px;
			img{
				border-radius: 100%;
				box-shadow: 15px 48px 42px 0px rgba($gray, $alpha);
			}
		}
		&__btn{
			background-color: transparent;
			border: none;
			color: rgba($gray, 0.8);
			text-align: left;
			position: absolute;
			line-height: 1.5rem;
			animation: rotate 2s infinite backwards 0s linear;
			span{
				color: rgba($gray, 1);
				display: block;
			}
			&::before{
				content: "";
				position: absolute;
				border-radius: 100%;
				display: block;
				position: absolute;
				width: 11px;
				height: 11px;
				background-color: $gray;
				box-shadow: 0 0 0 4px #fff, 0 0 0 5px $gray;
			}
			&:focus{
				outline: none;
				&::before{
					background-color: $orange;
					box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;	
				}
			}
		}
		&__01{
			top: 45px;
			left: 58px;
			&::before{
				top: 22px;
				left: 91px;
			}
		}
		&__02{
			top: 191px;
    		right: -4px;
			&::before{
				top: 21px;
    			left: -20px;
			}
		}
		&__03{
			bottom: -53px;
    		right: 237px;
			&::before{
				top: -20px;
    			left: 19px;
			}
		}
	}
}

.section-stock {
	background: url(../img/bg-2.png) no-repeat center / cover;
	&__text{
		font-size: 1.5rem;
		max-width: 690px;
		line-height: 1.5;
		margin-top: 3.75rem;
		margin-bottom: 5.875rem;
	}
	padding-bottom: 166px;
}

.slider{
	&-item{
		border: 1px solid rgba($gray, $alpha);
		border-radius: 20px;
		width: 467px;
		min-height: 520px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center; 
		padding: 2.4375rem;
		box-sizing: border-box;
		display: flex !important;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		&::before{
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 20px;
			transition: box-shadow 0.5s ease, background-color 0.5s ease;
		}
		&:hover::before{
			background-color: rgba($white, 0.55);
			box-shadow:inset 0 0 0 3px rgba($gray, $alpha);
		}
		&:hover .slider-text{
			transform: translateY(0);
		}
	}
	&-milk{
		background-image: url(../img/stock/milk.png);
	}
	&-meat{
		background-image: url(../img/stock/Bakaleya.png);
	}
	&-meatBird{
		background-image: url(../img/stock/meatBird.png);
	}
	&-text{
		max-width: 75%;
		text-align: left;
		transition: transform 0.4s ease;
		transform: translateY(15.5rem);
		&__title{
			font-size: 1.875rem;
			font-family: "Cormorant", serif;
			font-weight: 700;
			margin-bottom: 3rem;
		}
		&__desc{
			color: $gray;
			filter: opacity(0.7);
			margin-bottom: 1.125rem;
			line-height: 1.5rem;
		}
		&__link{
			color: rgba($gray, 0.8);
			position: relative;
			height: 30px;
			display: table-cell;
			vertical-align: middle;
			padding-left: 49px;
			filter: opacity(0.8);
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 500;
			letter-spacing: 1px;
			transition: all 0.2s ease;
			&::before{
				content: "";
				opacity: 0.8;
				position: absolute;
				width: 1.875rem;
				height: 1.875rem;
				border-radius: 100%;
				background: url(../img/plus.svg) no-repeat center center;
				left: 0;
				top: 0;
				transition: all 0.2s ease;
			}
			&:hover{
				color: $gray;
				&::before{
					opacity: 1;
				}
			}
		}
	}
}

.slick-prev,
.slick-next{
	position: absolute;
	font-size: 0;
	background-color: transparent;
	border: none;
	top: -68px;;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 10px;
	height: 18px;
	cursor: pointer;
	opacity: 0.4;
	transition: opacity 0.3s ease;
	&:hover{
		opacity: 1;
	}
}

.slick-slide {
    margin: 0 10px;
 }

 .slick-list {
    margin: 0 -10px;
 }

.slick-prev{
	right: 79px;
	background-image: url(../img/arrow-prev.svg);
}

.slick-next{
	right: 0;
	background-image: url(../img/arrow-next.svg);
}

.section-advantages{
	background: url(../img/bg-3.png) no-repeat center / cover;
	.title{
		margin-bottom: 68px;
	}
	padding-bottom: 193px;
}

.box-advantages{
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text{
		font-size: 1.12rem;
		line-height: 1.5; 
	}
	&-item{
		flex: 0 0 49%
	}
}

.box-advantages-list{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	&__item{
		position: relative;
		font-family: 'Cormorant', serif;
		font-weight: 700;
		font-style: italic;
		font-size: 1.875rem;
		margin-left: 85px;
		text-align: center;
		&::before{
			content: "";
			margin: 0 auto 0.9rem;
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			width: 87px;
			height: 87px;
			border-radius: 100%;
			border: 1px solid $gray;
		}
		&:first-of-type{
			margin-left: 0;
		}
	}
	&__health{
		&::before{
			background-image: url(../img/fruits.svg);
		}
	}
	&__traditions{
		&::before{
			background-image: url(../img/traditional.svg);
		}
	}
	&__good{
		&::before{
			background-image: url(../img/good.svg);
		}
	}
}

.section-novelty{
	background: url(../img/bg-4.png) no-repeat center / cover;
	&__text{
		font-size: 1.5rem;
		max-width: 100%;
		line-height: 1.5;
		margin-top: 2.4rem;
		margin-bottom: 5.2rem;
	}
	padding-bottom: 189px;
	.slider{
		&-item{
			height: 685px;
			justify-content: flex-start;
			transition: box-shadow 0.3s ease;
			&::before{
				display: none;
			}
			&:hover{
				box-shadow:inset 0 0 0 3px rgba($gray, $alpha);
			}
		}
		&-image{
			min-height: 314px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 2rem;
		}
		&-text{
			flex-grow: 1;
			transform: none;
			max-width: 80%;
			&__title{
				margin-bottom: 1.5rem;
			}
			&__desc{
				margin-bottom: 20px;
				font-size: 1.125rem;
			}
		}
		&-price{
			&__quantity{
				font-size: 1.5rem;
				margin: 0;
				margin-bottom: 2.5rem;				
			}
		}
		&-form{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;
			&-left{
				display: flex;
				align-items: center;
				&__plus, &__minus{
					opacity: $alpha;
					width: 3.12rem;
					height: 3.12rem;
					border: 1px solid $gray;
					border-radius: 100%;
					background-size: 30px 30px;
					background-repeat: no-repeat;
					background-position: center center; 
					cursor: pointer;
					transition: opacity 0.3s ease;
					&:hover{
						opacity: 1;
					}
				}
				&__plus{
					background-image: url(../img/plusNoStroke.svg);
				}
				&__minus{
					background-image: url(../img/minusNoStroke.svg);
				}
				p{
					margin: 0px 16px 0 18px;;
					padding: 0;
					font-size: 1.5rem;
				}
			}
			&-right{
				.btn{
					width: 10px;
					padding: 1.3rem 3.25rem;
				}
			}
		}
	}
}

.section-catalog{
	background: url(../img/bg-5.png) no-repeat center / cover;
	padding-bottom: 140px;
	&__text{
		font-size: 1.5rem;
		line-height: 1.5;
		margin-top: 2.3rem;
		margin-bottom: 5.4rem;
		letter-spacing: 1px;
	}
}

.tab{
	display: flex;
	align-items: center;
	list-style: none;
	height: 70px;
	flex-wrap: wrap;
	margin-bottom: 3.062rem;
	&-item{
		max-width: 230px;
		flex-basis: 230px;
		text-align: center;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	&-link{
		display: block;
		padding: 1.5rem;
		text-decoration: none;
		font-size: 1.125rem;
		color: rgba($gray, 0.5);
		border: 1px solid rgba($gray, 0.5);
		border-radius: 35px;
		transition: all 0.3s ease;
		&:hover{
			color: $orange;
			border-color: $orange;	
		}
	}
}

.catalog{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&-item{
		border: 1px solid rgba($gray, $alpha);
		border-radius: 20px;
		width: 345px;
		min-height: 515px;
		padding: 1.8rem 18px 1.8rem 1.8rem;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 20px;
		transition: box-shadow 0.3s ease;
		&:hover{
			box-shadow:inset 0 0 0 3px rgba($gray, $alpha);
		}
	}
	&-image{
			margin-bottom: 1rem;
			img{
				display: block;
				width: auto;
				height: 204px;
				margin: 0 auto;
			}
		}
	&-text{
		text-align: left;
		transition: transform 0.4s ease;
		&__title{
			font-size: 1.875rem;
			font-family: "Cormorant", serif;
			font-weight: 700;
			margin-bottom: 1rem;
		}
		&__desc{
			max-width: 80%;
			color: $gray;
			filter: opacity(0.7);
			margin-bottom: 1rem;
			line-height: 1.5rem;
		}
	}
	&-price{
		&__quantity{
			font-size: 1.5rem;
			margin: 0;
			margin-bottom: 2.2rem;				
		}
	}
	&-form{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-left{
				display: flex;
				align-items: center;
				&__plus, &__minus{
					opacity: $alpha;
					width: 2.5rem;
					height: 2.5rem;
					border: 1px solid $gray;
					border-radius: 100%;
					background-size: 30px 30px;
					background-repeat: no-repeat;
					background-position: center center; 
					cursor: pointer;
					transition: opacity 0.3s ease;
					&:hover{
						opacity: 1;
					}
				}
				&__plus{
					background-image: url(../img/plusNoStroke.svg);
				}
				&__minus{
					background-image: url(../img/minusNoStroke.svg);
				}
				p{
					margin: 0px 12px 0 8px;
					padding: 0;
					font-size: 1.5rem;
				}
			}
			&-right{
				align-self: center;
				.btn{
					font-size: 0.876rem;
					padding: 1.125rem 2.18rem;
					width: 154px;
					height: 55px;
				}
			}
		}
}

.section-delivery{
	background: url(../img/bg-6.png) no-repeat center / cover;
	padding-bottom: 140px;
	.title{
		margin-bottom: 4.625rem;
	}
}

.catalog-load-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 40px;
	border: none;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 0.06rem;
	opacity: 0.8;
	transition: all 0.2s ease;
	cursor: pointer;
	&:hover{
		opacity: 1;
	}
	&::before{
		content: "";
		width: 25px;
		height: 25px;
		background: url(../img/refresh.png) no-repeat center center;
		margin-right: 10px
	}
}

.box-delivery{
	display: flex;
	justify-content: space-between;
	&__text{
		font-size: 1.12rem;
		line-height: 1.5; 
		margin: 0;
	}
	&-item{
		flex: 0 0 49%;
		&:last-child{
			flex: 0 0 41%;
		}
	}
	&__link{
		color: $gray;
		border-bottom: 1px solid $gray;
		text-decoration: none;
	}
	&__span{
		display: block;
		color: $orange;
	}

	.ml{
		.box-delivery__text:first-child{
			margin-bottom: 1.875rem;
		}
	}
}


.box-delivery-list{
	display: flex;
	list-style: none;
	margin-top: 2.93rem;
	padding-left: 5px;
	&__item{
		height: 32px;
		margin-right: 1.81rem;
		&:nth-child(1){
			width: 53px;
		}
		&:nth-child(2){
			width: 74px;
		}
		&:nth-child(3){
			width: 87px;
		}
	}
	&__link{
		height: 100%;
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		text-decoration: none;
		text-indent: -9999px
	}

	&__mastercard{
		background-image: url(../img/mastercard.svg);
	}

	&__visa{
		background-image: url(../img/visa.svg);
	}

	&__paypal{
		background-image: url(../img/paypal.svg);
	}
}