<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="styles/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');
    </style>
</head>
<body>
    <section class="section-main">
        @@include("../blocks/modules/header/header.html")
        <div class="wrapper">
            <div class="main">
                <div class="main-text">
                    <h1 class="title">Здоровая еда -<br><span>это просто</span>!</h1>
                    <div class="ml">
                        <p class="main-text__description">Сеть магазинов полезных продуктов питания, производство которых основано на&nbsp;принципах и&nbsp;стандартах органического чистых продуктов</p>
                        <a class="btn" href="#">Перейти в каталог</a>
                    </div>
                </div>
                <div class="main-visual">
                    <div class="main-visual__image">
                        <img src="../img/image-main.png" alt="">
                    </div>
                    <button class="main-visual__btn main-visual__01">
                        Авокадо <span>134 руб</span>
                    </button>
                    <button class="main-visual__btn main-visual__02">
                        Картофель <span>169 руб</span>
                    </button>
                    <button class="main-visual__btn main-visual__03">
                        Томаты <span>215 руб</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="section-stock">
        <div class="wrapper">
            <h2 class="title">Что мы<br><span>предлагаем</span></h2>
            <p class="section-stock__text">Органика — это целостная система производства по-настоящему чистой, натуральной и полезной продукции</p>
            <div class="slider">
                <div class="slider-item slider-milk">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Молочные продукты</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item slider-meat">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Бакалея</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item slider-meatBird">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Мясо, птица</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item slider-milk">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Молочные продукты</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item slider-meat">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Бакалея</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
                <div class="slider-item slider-meatBird">
                    <div class="slider-text">
                        <h3 class="slider-text__title">Мясо, птица</h3>
                        <p class="slider-text__desc">В наши дни появилась мода на здоровое питание, поэтому на рынке питания разработали органическое молоко. Органическое молоко является продуктом органического животноводства</p>
                        <a class="slider-text__link" href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-advantages">
        <div class="wrapper">
            <h2 class="title">В чем наша<br><span>уникальность</span></h2>
            <div class="box-advantages">
                <div class="box-advantages-item">
                    <div class="ml">
                        <p class="box-advantages__text">Мы полностью контролируем весь цикл производства — от поля до прилавка за счет собственной серьезной материальной  и нацчной бызы. Наш подход направлен на высокие технологии и достижения прогресса</p>
                    </div>
                </div>
                <div class="box-advantages-item">
                    <ul class="box-advantages-list">
                        <li class="box-advantages-list__item box-advantages-list__health">Здоровье</li>
                        <li class="box-advantages-list__item box-advantages-list__traditions">Традиции</li>
                        <li class="box-advantages-list__item box-advantages-list__good">Вкус</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-novelty">
        <div class="wrapper">
            <h2 class="title">Наши <span>новинки</span></h2>
            <p class="section-novelty__text">Будь в тренде с современым миром, и будь здоров вместе с нами</p>
            <div class="slider">
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/milk.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Молоко топленое</h3>
                        <p class="slider-text__desc">Молоко Healthy food топленое<br>мдж 4% 500гр</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">159 руб/шт</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/egg.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Яйцо перепелиное</h3>
                        <p class="slider-text__desc">QEGG Яйцо перепелиное 20шт</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">94 руб/упак</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/chicken.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Куриное филе Оссобуко</h3>
                        <p class="slider-text__desc">Куриное филе Оссобуко (Ангус) охл скин. В вакуумной упаковке</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">1009 руб/кг</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/milk.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Молоко топленое</h3>
                        <p class="slider-text__desc">Молоко Healthy food топленое<br>мдж 4% 500гр</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">159 руб/шт</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/egg.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Яйцо перепелиное</h3>
                        <p class="slider-text__desc">QEGG Яйцо перепелиное 20шт</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">94 руб/упак</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-image">
                        <img src="../img/chicken.png" alt="Melted milk">
                    </div>
                    <div class="slider-text">
                        <h3 class="slider-text__title">Куриное филе Оссобуко</h3>
                        <p class="slider-text__desc">Куриное филе Оссобуко (Ангус) охл скин. В вакуумной упаковке</p>
                    </div>
                    <div class="slider-price">
                        <p class="slider-price__quantity">1009 руб/кг</p>
                    </div>
                    <div class="slider-form">
                        <div class="slider-form-left">
                            <span class="slider-form-left__minus"></span>
                            <p>1</p>
                            <span class="slider-form-left__plus"></span>
                        </div>
                        <div class="slider-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-catalog">
        <div class="wrapper">
            <h2 class="title">Каталог</h2>
            <p class="section-catalog__text">Еда которая заботится о вашей фигуре</p>
            <ul class="tab">
                <li class="tab-item"><a class="tab-link" href="#">Молочный продукты</a></li>
                <li class="tab-item"><a class="tab-link" href="#">Бакалея</a></li>
                <li class="tab-item"><a class="tab-link" href="#">Мясо, птица</a></li>
                <li class="tab-item"><a class="tab-link" href="#">Детям</a></li>
                <li class="tab-item"><a class="tab-link" href="#">Овощи и фрукты</a></li>
            </ul>
            <div class="catalog">
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/milk.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Молоко топленое</h3>
                        <p class="catalog-text__desc">Молоко Healthy food топленеое мдж 4% 500гр</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">159 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/Yogurt.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Йогурт с черникой</h3>
                        <p class="catalog-text__desc">Йогурт Healthy food с черникой, питьевой 1,5%, 750 г</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">89 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/curd.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Творог</h3>
                        <p class="catalog-text__desc">Творог Healthy food Рассыпчатый 9% 350 г</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">216 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/Mozzarella.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Моцарелла</h3>
                        <p class="catalog-text__desc">Моцарелла Healthy food 45%, 0.125 кг</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">359 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/butter.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Масло сливочное</h3>
                        <p class="catalog-text__desc">Масло Healthy food сливочное 82,5%, 200г</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">139 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/Yogurt-2.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Йогурт термостатный</h3>
                        <p class="catalog-text__desc">Йогурт Healthy food термостатный с фруктово-ягодным 2,5 %, 165 г</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">159 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/Cheese.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Сыр</h3>
                        <p class="catalog-text__desc">Сыр Healthy food Сливочный 45% 200г</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">559 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <div class="catalog-item">
                    <div class="catalog-image">
                        <img src="../img/Souce.png" alt="Melted milk">
                    </div>
                    <div class="catalog-text">
                        <h3 class="catalog-text__title">Соус для салата</h3>
                        <p class="catalog-text__desc">Соус для салата Healthy food пикантыный 4%  70гр</p>
                    </div>
                    <div class="catalog-price">
                        <p class="catalog-price__quantity">59 руб/шт</p>
                    </div>
                    <div class="catalog-form">
                        <div class="catalog-form-left">
                            <span class="catalog-form-left__minus"></span>
                            <p>1</p>
                            <span class="catalog-form-left__plus"></span>
                        </div>
                        <div class="catalog-form-right">
                            <a class="btn" href="#">В корзину</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="catalog-load-btn">Загрузить еще</button>
            </div>
        </div>
    </section>
    <section class="section-delivery">
        <div class="wrapper">
            <h2 class="title">Доставка и <span>оплата</span></h2>
            <div class="box-delivery">
                <div class="box-delivery-item">
                    <div class="ml">
                        <p class="box-delivery__text">Мы доставляем ваши заказы курьером  в специально оборудованном транспорте.</p>
                        <p class="box-delivery__text">Компания Healthly food предлагает самые удобные и быстрые способы доставки по всей стране. Посмотреть подробные условия и географию вы можете по этой <a class="box-delivery__link" href="#">ссылке</a></p>
                    </div>
                </div>
                <div class="box-delivery-item">
                    <p class="box-delivery__text">Вы можете оплатить заказ наличными или картой курьеру, либо&nbsp;воспользоваться&nbsp;функцией онлайн-оплаты и получить <span class="box-delivery__span">скидку 5%.</span></p>
                    <ul class="box-delivery-list">
                        <li class="box-delivery-list__item">
                            <a class="box-delivery-list__link box-delivery-list__mastercard" href="#">Mastercard</a>
                        </li>
                        <li class="box-delivery-list__item">
                            <a class="box-delivery-list__link box-delivery-list__visa" href="#">Visa</a>
                        </li>
                        <li class="box-delivery-list__item ">
                            <a class="box-delivery-list__link box-delivery-list__paypal" href="#">Paypal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @@include("../blocks/modules/footer/footer.html")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
          dots: false,
          infinite: true,
          speed: 500,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
          {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
                }
          },
          {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]   
        });
        let sliderCounters = document.querySelectorAll('.slider-form-left');
        if(sliderCounters){
            for(Counters of sliderCounters){
                let minus = Counters.children[0];
                let quantity = Counters.children[1]
                let plus = Counters.children[2];
                minus.addEventListener('click' , function(){
                    if(quantity.textContent == '1'){
                        return;
                    }else{
                        quantity.textContent= parseInt(quantity.textContent) - 1;
                    }
                })
                plus.addEventListener('click' , function(){
                    quantity.textContent= parseInt(quantity.textContent) + 1;
                })
            }
        }
    </script>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
